extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('layouts.application.statuses')
  a.btn.btn-primary.me-1(href=`/statuses/new`)= t('views.statuses.createStatus')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name 
          td= formatDate(status.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)= t('views.statuses.update')
              +buttonTo(`/statuses/${status.id}`, 'delete')(class="btn btn-danger" value=t('views.statuses.delete'))